<!-- Only use by Isotope for sorting & filtering  -->
<div style="display:none;" class="owner-name">{{vm.owner.name}}</div>
<div style="display:none;" class="owner-id" >{{vm.owner.id}}</div>

<div class="grid-sizer panel panel-default" ng-style="{'opacity': vm.isDeleted ? 0.3 : 1}">
  <div class="panel-heading">
    <div class="media">
      <div class="media-left media-middle">

        <!-- owner.avatarUrl -->
        <img ng-if="!vm.isAuthenticated()"
          class="w-avatar" ng-src="{{ vm.owner.avatarUrl }}" alt="{{vm.owner.name}}" />
        <!-- /owner.avatarUrl -->

        <!-- owner actions -->
        <owner-quick-actions
          ng-if="vm.isAuthenticated()"
          owner="vm.owner">
        </owner-quick-actions>
        <!-- /owner actions -->

      </div>
      <div style="width: auto;" class="media-body media-middle">
        <h5>{{vm.wish.title}}</h5>
      </div>

    </div>

  </div>

  <!-- wish.imageUrl -->
  <img ng-if="vm.wish.imageUrl" style="width: 100%;" ng-src="{{vm.wish.imageUrl}}"/>
  <div ng-if="!vm.wish.imageUrl" class="w-no-image"></div>
  <!-- /wish.imageUrl -->

  <ul class="list-group">

    <!-- wish.description -->
    <li class="list-group-item text-muted wish-grid-item--detail">
      {{vm.wish.description}}
    </li>
    <!-- /wish.description -->

    <!-- wish.price -->
    <li
      ng-if="vm.wish.price"
      class="list-group-item wish-grid-item--detail">
      <div class="media">
        <div class="media-left media-middle">
          <img src="images/icons/price-tag.svg"/>
        </div>
        <div class="media-body media-middle">
          <h4 class="pull-right">
            <span class="label label-default">{{vm.wish.price}} kr.</span>
          </h4>
        </div>
      </div>
    </li>
    <!-- /wish.price -->

    <!-- wish.buyAt -->
    <li
      ng-if="vm.wish.buyAt.length"
      class="list-group-item wish-grid-item--detail">
      <div class="media">
        <div class="media-left media-middle">
          <img src="images/icons/pin.svg"/>
        </div>
        <div class="media-body media-middle">
          <span class="pull-right text-muted">
            {{vm.wish.buyAt.join(', ')}}
          </p>
        </div>
      </div>
    </li>
    <!-- /wish.buyAt -->

    <!-- wish.shopUrl -->
    <li
      ng-if="vm.wish.shopUrl"
      class="list-group-item wish-grid-item--detail">
        <a
          class="btn btn-primary btn-block"
          href="{{vm.wish.shopUrl}}" target="_blank">
          Læs mere
        </a>
    </li>
    <!-- /wish.shopUrl -->

    <!-- author actions -->
    <li
      ng-if="vm.isAuthenticated()"
      class="list-group-item wish-grid-item--detail">
      <wish-quick-actions controller="vm"></wish-quick-actions>
    </li>
    <!-- /author actions -->

  </ul>
</div>
