<h1>Admin</h1>
<!-- wishes -->
<div
  ng-repeat="owner in adminCtrl.owners"
  class="panel panel-info">
  <div class="panel-heading">
   <h3 class="panel-title">{{owner.name}}</h3>
 </div>
 <div class="panel-body">
   <ul class="w-list-clean">

     <!-- empty state -->
     <li
       class="w-list-clean--item"
       ng-if="(adminCtrl.wishes | filter:{ownerId: owner.id}).length === 0">
       <div class="media">
         <div class="media-left media-middle">
           <img src="images/icons/empty.svg" class="w-avatar" />
         </div>
         <div class="media-body media-middle">
           <p class="text-muted no-margin">Der er ingen ønsker tilføjet for {{owner.name}}.</p>
         </div>
       </div>
     </li>
     <!-- /empty state -->

     <!-- wishes -->
     <li
       class="w-list-clean--item"
       ng-if="(adminCtrl.wishes | filter:{ownerId: owner.id}).length > 0"
       ng-repeat="wish in adminCtrl.wishes | filter:{ownerId: owner.id}"
     >
       <w-wish-item-admin-list
          wish="wish"
       ></w-wish-item-admin-list>
     </li>
     <!-- /wishes -->

   </ul>
  </div>
</div>
<!-- /wishes -->
