<!-- wishes -->
<div
  ng-repeat="owner in wishesCtrl.owners | filter:wishesCtrl.wishesManager.selectedOwner"
  class="panel panel-default">
  <div class="panel-heading">
    <!-- owner actions -->
   <div class="media">
     <div class="media-left media-middle">
      <img ng-if="!wishesCtrl.isAuthenticated()" class="w-avatar" ng-src="{{ owner.avatarUrl }}" alt="" />
       <owner-quick-actions owner="owner" ng-if="wishesCtrl.isAuthenticated()"></owner-quick-actions>
     </div>
     <div class="media-body media-middle">
       <h3 class="panel-title">{{owner.name}}</h3>
     </div>
   </div>
   <!-- /owner actions -->
 </div>
 <div class="panel-body">
   <ul class="w-list-clean">

     <!-- empty state -->
     <li
       class="w-list-clean--item"
       ng-if="(wishesCtrl.wishes | filter:{ownerId: owner.id}).length === 0">
       <div class="media">
         <div class="media-left media-middle">
           <img src="images/icons/empty.svg" class="w-avatar" />
         </div>
         <div class="media-body media-middle">
           <p class="text-muted no-margin">Der er ingen ønsker at vise for {{owner.name}}.</p>
         </div>
       </div>
     </li>
     <!-- /empty state -->

     <!-- wishes -->
     <li
       class="w-list-clean--item"
       ng-if="(wishesCtrl.wishes | filter:{ownerId: owner.id}).length > 0"
       ng-repeat="wish in wishesCtrl.wishes | filter:{ownerId: owner.id}"
     >
       <wish-list-item
          wish="wish"
          on-delete="wishesCtrl.onWishDelete($wish)"
       ></wish-list-item>
     </li>
     <!-- /wishes -->

   </ul>
  </div>
</div>
<!-- /wishes -->
