<div class="w-list-tools">

      <!-- view toggler -->
      <div class="btn-group w-list-tools--tool">
        <button
          ng-click="wishesCtrl.setView('grid')"
          ng-class="{
            'btn-default' : !wishesCtrl.isGridView(),
            'btn-primary' : wishesCtrl.isGridView()
          }"
          class="btn btn-sm">
          <span class="glyphicon glyphicon-th"></span>
        </button>
        <button
          ng-click="wishesCtrl.setView('list')"
          ng-class="{
            'btn-default' : !wishesCtrl.isListView(),
            'btn-primary' : wishesCtrl.isListView()
          }"
          class="btn btn-sm">
          <span class="glyphicon glyphicon-th-list"></span>
        </button>
      </div>
      <!-- /view toggler -->

      <div
        ng-if="wishesCtrl.owners.length > 1"
        class="form-group w-list-tools--tool">
        <select
          ng-model="wishesCtrl.wishesManager.selectedOwner"
          class="form-control">
          <option selected value="">Alle</option>
          <option
            ng-repeat="owner in wishesCtrl.owners"
            value="{{owner.id}}">
            {{owner.name}}
          </option>
        </select>
      </div>

</div>

<!-- init spinner -->
<w-spinner template="fullscreen" type="'circular'" show-when="wishesCtrl.isBusy"></w-spinner>
<!-- /init spinner -->


<!-- grid view -->
<div
  ng-if="wishesCtrl.isGridView()"
  ng-include="'layers/wishes/wishes.grid.view.html'">

</div>
<!-- /grid view -->

<!-- list view -->
<div
  ng-if="wishesCtrl.isListView()"
  ng-include="'layers/wishes/wishes.list.view.html'">
</div>
<!-- /list view -->
