w-grid {
  display: block;
  margin: 0;
  padding: 0
}
w-grid > div {
  margin: 0;
  padding: 0;
  //width: 100%;
  max-width: 300px;
}
.w-grid--item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .w-grid--item { width: 32%; }
}
