<nav class="navbar navbar-default">
  <div class="navbar-header">
     <button type="button"
     class="navbar-toggle collapsed"
     data-toggle="collapse"
     data-target="#menu">
       <span class="glyphicon glyphicon-menu-hamburger"></span>
     </button>
   </div>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="nav navbar-nav">
      <li ui-sref="root.wishes"
          ui-sref-active="active">
          <a href>Vores ønsker</a>
      </li>
      <li
        ui-sref="root.admin"
        ui-sref-active="active"
        ng-if="layoutCtrl.MyUser.isAuthenticated()"
         >
        <a href>Admin</a>
      </li>
      <li
        ui-sref="root.login"
        ui-sref-active="active"
        ng-if="!layoutCtrl.MyUser.isAuthenticated()">
        <a href>Login</a>
      </li>
      <li
        ui-sref="root.logout"
        ui-sref-active="active"
        ng-if="layoutCtrl.MyUser.isAuthenticated()">
        <a href>Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div ui-view="login"></div>
  <div ui-view="admin"></div>
  <div ui-view="public"></div>

</div>

<div class="footer">
  <div class="container">
    <p>♥ fra Frederiksberg</p>
  </div>
</div>
