<div
  ng-if="layoutCtrl.isMainView()"
  class="top-theme-banner theme--{{layoutCtrl.theme.id}}">
  <div class="top-theme__titles">
    <h1>{{layoutCtrl.theme.title}}</h1>
    <p>{{layoutCtrl.theme.subtitle}}</p>
  </div>
</div>

<!-- main views -->
<div class="container-fluid">
  <div ui-view="login"></div>
  <div ui-view="author"></div>
  <div ui-view="wishes"></div>
</div>
<!-- /main views -->

<!-- /admin tools -->
<div class="w-tools" ng-if="layoutCtrl.MyUser.isAuthenticated()">
  <button class="btn btn-link pull-right" ng-click="layoutCtrl.goToState.create()">
    <img src="images/icons/add.svg" class="w-avatar" />
  </button>
</div>
<!-- /admin tools -->

<div class="footer">
  <div class="container">
    <p>♥ fra Frederiksberg</p>
    <ul class="w-list--link-list">
      <li
          ui-sref="root.wishes"
          ui-sref-active="active">
          <a href>Ønsker</a>
      </li>
      <li
        ui-sref="root.login"
        ui-sref-active="active"
        ng-if="!layoutCtrl.MyUser.isAuthenticated()">
        <a href>Login</a>
      </li>
      <li
        ui-sref="root.logout"
        ui-sref-active="active"
        ng-if="layoutCtrl.MyUser.isAuthenticated()">
        <a href>Logout</a>
      </li>
    </ul>
  </div>
</div>
