$default-size: 40px;
$small-size: 20px;
.w-avatar {
  width: $default-size;
  height: $default-size;
  border-radius: 50%;
  margin: 0;

  &.w-avatar--small {
    width: $small-size;
    height: $small-size;
    margin: 0 5px;
  }
}
