.w-tools {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
}

.w-list-tools {
  padding: 15px;
  position: fixed;
  z-index: 9999;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;

  .w-list-tools--tool {
    float: left;
    margin-right: 10px;
  }
  select {
    height: 30px;
  }
}
