.w-tools {
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #ccc;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;

    .w-tool-btn {
      border: 0;
      border-left: 1px solid #ccc;
      
      &:first-child {
        border-left: none;
      }

      &:focus {
        outline: none;
      }

      width: 100%;
      background: #fff;
      padding: 10px;
      color: #ccc;

      &.is-active {
        color: #286090;
      }

    }
}

.w-list-tools {
  padding: 15px;
  position: fixed;
  z-index: 9999;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;

  .w-list-tools--tool {
    float: left;
    margin-right: 10px;
  }
  select {
    height: 30px;
  }
}
