.w-list-clean {

  margin: 0;
  padding: 0;
  list-style-type: none;

  .w-list-clean--item {
    padding: 15px;
    border-top: 1px solid #eee;

    &:first-child {
      border-top: none;
    }

    &:nth-child(odd) {
      background: #f5f5f5;
    }

  }

}
