.w-list-clean {

  margin: 0;
  padding: 0;
  list-style-type: none;

  .w-list-clean--item {
    padding: 15px;
    border-top: 1px solid #eee;

    &:first-child {
      border-top: none;
    }

  }

  &.w-list-clean--alternate {
    .w-list-clean--item {
      &:nth-child(odd) {
        background: #f5f5f5;
      }
    }
  }
}
.w-list--link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  > li {
    margin: 0 0 10px;
    padding: 0;
  }
}
